body{
    margin: 0;
}

#player{
    position: absolute;
}

.btn{
    position: absolute;
    margin-top:5em;
}

#covercontainer{
    position: absolute;
    border: 2px solid rgb(30, 56, 201);
    height: 15em;
    width: 15em;
    border-radius: 100%;
    background-image: url("skypattern.jpg");
    background-size: cover;
}
#cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}